.settings
full_mission/*
full_mission
full_mission_shields/*
full_mission_shields
scripts/full_mission
scripts/reprocess_background/*tar
scripts/extract_background/full_mission
notebooks/ground_maps/*png

*.tgz
*tar
*checkpoint*
*~

### https://raw.github.com/github/gitignore/master/Global/OSX.gitignore

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*



